<header style="position: relative;">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <div style="display:flex;align-items:center;flex-flow:row wrap;">
    <img class="logo" src="{{ site.url }}/assets/images/hack-to-the-future-logo.png"></img>
    <h1 class="httf"><a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a></h1>
  </div>
  <p class="httf">{{- site.description | escape -}}</p>
</header>

