---
layout: default
---

<section class="container with-title">
  <h2 class="title">Hacks</h2>

  {%- if site.hacks.size > 0 -%}
    <div class="containers">
      {%- for hack in site.hacks -%}

      {% capture modulo %}{{ forloop.index0 | mod:2 }}{% endcapture %}

      {% if modulo == '0' or forloop.first %}
      <div class="container light">
      {% else %}
      <div class="container dark">
      {% endif %}

        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <label class="title">
          <p>
          <a class="post-link" href="{{ hack.url | relative_url }}">
            {{ hack.title | escape }}
          </a>
          <span class="post-meta">-- {{ hack.date | date: date_format }}</span>
          </p>
        </label>

        {%- if site.show_excerpts -%}
          <p>{{ hack.excerpt }}</p>
        {%- endif -%}
      </div>
      {%- endfor -%}
    </div>

  {%- endif -%}

  </section>
